{
  "presets": [
    ["es2015", {"loose": true}],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-react-display-name",
    "transform-runtime"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-member-expression-literals",
        "transform-property-literals",
        "transform-merge-sibling-variables",
        "transform-remove-debugger",
        "transform-react-constant-elements"
      ]
    }
  }
}
